.background--bubble__container{   
    position: absolute;
    left: 40%;
    top: -17px;
    height: 31%;
    .background--design__bubble{
        background-color: $blue-light-bg;
        height: 1.5VH;
        width: 1.5VH;
        border-radius: 50%;
        box-shadow: inset 1px 1px 1px $black;
        border: 1px solid black;
        margin: 18% 0%;
        
    }
    .background--design__bubble:nth-child(1){
        animation: animBubble1 infinite;
    animation-duration: 10s;
    }
    .background--design__bubble:nth-child(2){
        animation: animBubble2 infinite;
        animation-duration: 10s;
    }
    .background--design__bubble:nth-child(3){
        animation: animBubble3 infinite;
        animation-duration: 10s;
    }
    .background--design__bubble:nth-child(4){
        animation: animBubble4 infinite;
        animation-duration: 10s;         
    }
    @keyframes animBubble1 {
        100%{
            background-color: $orange;
            filter: brightness(1.2);
        }                    
    }
    @keyframes animBubble2 {
        75%{
            background-color: $orange;
            filter: brightness(1.2);
        }
        100%{
            filter: brightness(1);
        }                    
    }
    @keyframes animBubble3 {
        50%{
            background-color: $orange;
            filter: brightness(1.2);
        }
        75%{
            filter: brightness(1);
        }
        
    }
    @keyframes animBubble4 {
        0%{
            background-color: $orange;
            filter: brightness(1.2);
        }
        25%{
            filter: brightness(1);
        }                    
    }
}