// COLOR CHART VARIABLE

$orange: #FBAD18;
$yellow: #ffc107;
$green: #85B689;
$red: #EF6852;
$blue: #8FCED7;
$pink: #F8AAA4;
$purple: #946973;
$blue-light-bg: #DFF2F0;
$blue-bg-header: #46BFC7;
$black: black;
$white: white;
$grey: #313846;
$blue-dark:#4a7bb4;

